.container {
	display: flex;
	flex: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
img {
	width: 400px;
	height: 400px;	
}
.container_first:hover {
  	filter: hue-rotate(90deg);
  	flex: 0.1;
}
.container_second:hover{
	flex-basis: 50%;
}
.container_third:hover{
	flex-grow: 0.3;
}
.container2 {
	width: 300px;
	float: right;
}
.container2_text {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;
}




